{% extends "common/page_base.html" %}

{% block content %}
  <div class="ui basic segment">
    <div class="ui center aligned icon header">
	    <i class="child icon"></i>
	    <div class="content">
		    Welcome to the new UNT Factory web portal!
	    </div>
    </div>
	  <p>
		  &emsp;&emsp;&emsp;&emsp;
		  We've upgraded our website in order to provide our customer's with the best possible service with help from the fine
		  folks over at the <a href="http://computerscience.engineering.unt.edu/">UNT college of Computer Science and Engineering</a>.
		  Please see the instructions below on how to utilize our new website to order cool stuff from us!
	  </p>
	  <div class="ui small header">
		  Register your UNT Factory Account
	  </div>
	  <sudop>
		  &emsp;&emsp;&emsp;&emsp;
		  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
		  corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
		  culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
		  expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id
		  quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
		  quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
		  molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus
		  maiores alias consequatur aut perferendis doloribus asperiores repellat.
	  </p>

	  <div class="ui small header">
		  Sign in to your UNT Factory Account
	  </div>
	  <p>
		  &emsp;&emsp;&emsp;&emsp;
		  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
		  corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
		  culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
		  expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id
		  quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
		  quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
		  molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus
		  maiores alias consequatur aut perferendis doloribus asperiores repellat.
	  </p>

	  <div class="ui small header">
		  Submit a 3D Printing job
	  </div>
    <p>
		  &emsp;&emsp;&emsp;&emsp;
		  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
		  corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
		  culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
		  expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id
		  quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
		  quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
		  molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus
		  maiores alias consequatur aut perferendis doloribus asperiores repellat.
	  </p>
  </div>
	<div class="ui divider"></div>
{% endblock %}
