{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}
{% from "common/form_macros.html" import render_field, render_submit_field %}
{% block content %}

<div class="ui grid">
    <div class="six wide column">
        <div class="ui large header">
            User Profile
        </div>
       <form action="" method="POST" class="ui left aligned form" role="form">
        {{ form.hidden_tag() }}

        {{ render_field(form.first_name, tabindex=240) }}

        {{ render_field(form.last_name, tabindex=250) }}
        {{ render_submit_field(form.submit, tabindex=280) }}
        <a class="ui submit button" href="{{ url_for('user.change_password') }}">Change password</a>
        </form>
    </div>
</div>

{% endblock %}